.blue {
  color: #1421FF;
  font-weight: inherit;
}

.main__wrapper {
  max-width: 1128px;
  width: 90%;
  margin: 0 auto;
}
.main__title-wrapper {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 286px;
}
.main__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  text-align: center;
}
@media (max-width: 834px) {
  .main__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.main__sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  margin-top: 24px;
}
.main__title-button {
  padding: 18px 32px;
  margin-top: 64px;
  background: #1421FF;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
  box-shadow: 0px 12px 48px -18px rgba(20, 33, 255, 0.76);
}
.main__title-button:hover {
  background-color: #5B64FF;
  color: #fff;
}
.main__title-button:active {
  background-color: #2D2D30;
  color: #fff;
}

.team {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 376px 1fr;
  margin-top: 20px;
  margin-left: 20px;
  height: 400px;
  grid-column-gap: 48px;
  margin-top: 200px;
}
@media (max-width: 1100px) {
  .team {
    display: block;
    margin-top: 0;
    height: initial;
    margin-left: 0;
    margin-top: 104px;
  }
}
@media (max-width: 410px) {
  .team {
    margin-top: 64px;
  }
}
.team__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  justify-content: start;
  height: initial;
}
@media (max-width: 834px) {
  .team__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
@media (max-width: 1100px) {
  .team__title {
    text-align: center;
  }
}
.team__img {
  width: 376px;
  height: 400px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
@media (max-width: 1100px) {
  .team__img {
    width: 100%;
    object-fit: cover;
    margin: 32px 0;
  }
}
.team__text {
  font-size: 14px;
  line-height: 24px;
  color: #52525A;
  align-self: flex-end;
}

.work {
  margin-top: 200px;
  width: 100%;
}
.work__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  text-align: center;
  margin-bottom: 64px;
}
@media (max-width: 834px) {
  .work__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.work__bunner {
  width: 100%;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
.work__line {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .work__line {
    display: block;
    margin: 0;
  }
  .work__line:first-child {
    margin-top: 35px;
  }
}
.work__section {
  max-width: 540px;
  width: 95%;
  margin-right: 15px;
  margin-left: 15px;
}
@media (max-width: 834px) {
  .work__section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    padding-right: 10px;
  }
}
.work__section-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #2D2D30;
  margin-bottom: 16px;
  margin-top: 27px;
}
@media (max-width: 834px) {
  .work__section-title {
    margin-top: 18px;
  }
}
.work__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  text-align: left;
}

.interface {
  width: 100%;
  margin-top: 200px;
}
.interface__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  text-align: center;
}
@media (max-width: 834px) {
  .interface__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.interface__sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  margin-top: 24px;
}
.interface__components-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 48px;
  margin-top: 64px;
}
.interface__component {
  justify-self: center;
}
.interface__img {
  border-radius: 8px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
  width: 328px;
  height: 242px;
}
.interface__text {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2D2D30;
  margin-top: 24px;
}

.portfolio {
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__title {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
}
@media (max-width: 834px) {
  .portfolio__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.portfolio__wrapper {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 48px;
  width: 100%;
}
.portfolio__section {
  position: relative;
  width: 540px;
  height: 540px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 8px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
}
.portfolio__section:first-child {
  background: url(../../img/main_page/project1.png);
}
.portfolio__section:nth-child(2) {
  background: url(../../img/main_page/project2.png);
}
.portfolio__section:nth-child(3) {
  background: url(../../img/main_page/project3.png);
}
.portfolio__section:last-child {
  background: url(../../img/main_page/project4.png);
}
.portfolio__section-background {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  align-items: flex-end;
}
.portfolio__section-background:hover {
  background-color: #1421FF;
  opacity: 0.9;
}
.portfolio__section-background:hover .portfolio__text-area {
  opacity: 1;
  transform: translate(0, 0);
}
.portfolio__text-area {
  margin-bottom: 14px;
  opacity: 0;
  transition: 0.3s;
  transform: translate(0, 30px);
}
.portfolio__little-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 8px;
}
.portfolio__text {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 50px;
}
.portfolio__button {
  background-color: #fff;
  color: #1421FF;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 32px;
  border-radius: 8px;
  margin-top: 10px;
}
.portfolio__bottom-button {
  padding: 18px 32px;
  margin-top: 64px;
  background: #1421FF;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
  box-shadow: 0px 12px 48px -18px rgba(20, 33, 255, 0.76);
}
.portfolio__bottom-button:hover {
  background-color: #5B64FF;
  color: #fff;
}
.portfolio__bottom-button:active {
  background-color: #2D2D30;
  color: #fff;
}

.profit {
  width: 100%;
  margin-top: 200px;
}
.profit__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  text-align: center;
}
@media (max-width: 834px) {
  .profit__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.profit__bunner {
  width: 100%;
  margin-top: 64px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
.profit__line {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .profit__line {
    display: block;
    margin: 0;
  }
  .profit__line:first-child {
    margin-top: 35px;
  }
}
.profit__section {
  max-width: 540px;
  width: 95%;
  margin-right: 15px;
  margin-left: 15px;
}
@media (max-width: 834px) {
  .profit__section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    padding-right: 10px;
  }
}
.profit__little-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #2D2D30;
  margin-bottom: 16px;
  margin-top: 27px;
}
@media (max-width: 834px) {
  .profit__little-title {
    margin-top: 18px;
  }
}
.profit__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  text-align: left;
}

.action {
  width: 100%;
  margin-top: 200px;
}
.action__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  text-align: center;
}
@media (max-width: 834px) {
  .action__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.action__section-wrapper {
  margin-top: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .action__section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 750px) {
  .action__section-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
}
.action__section {
  width: 328px;
}
.action__section:nth-child(2) {
  margin: 0 20px;
}
@media (max-width: 834px) {
  .action__section {
    margin: 0;
    margin-bottom: 24px !important;
  }
}
@media (max-width: 750px) {
  .action__section {
    margin-bottom: 32px;
  }
}
@media (max-width: 500px) {
  .action__section {
    width: 100%;
  }
}
.action__img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
}
.action__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  text-align: left;
  margin-top: 16px;
}
.action__little-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2D2D30;
  margin-top: 24px;
}

.process {
  width: 100%;
  margin-top: 200px;
}
.process__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  text-align: center;
}
@media (max-width: 834px) {
  .process__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.process__sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  margin-top: 24px;
}
.process__way {
  width: 100%;
  margin-top: 64px;
}
.process__upper-side {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
}
.process__chapter {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2D2D30;
}
.process__chapter-up {
  width: 171px;
}
.process__chapter-up:first-child {
  margin-left: 18px;
}
.process__chapter-up:nth-child(2) {
  margin-left: 13px;
}
.process__chapter-up:nth-child(3) {
  margin-left: 10px;
}
.process__main-side {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.process__line {
  width: 118px;
  height: 20px;
  position: relative;
  color: #1421FF;
  list-style: none;
}
.process__line::before {
  content: "";
  position: absolute;
  background: #1421FF;
  top: calc(100% - 50% - 3px);
  left: -22px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(28, 84, 233, 0.5);
}
.process__line::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background: #EBEFFB;
  top: calc(100% - 50% - 0.5px);
}
.process__lower-side {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
}
.process__chapter-down {
  margin-left: 50%;
}
.process__chapter-down:nth-child(3) {
  white-space: nowrap;
}

.advantages {
  width: 100%;
  margin-top: 200px;
}
.advantages__title-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 48px;
}
.advantages__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
}
@media (max-width: 834px) {
  .advantages__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.advantages__banner {
  width: 540px;
  height: 400px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
.advantages__line {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .advantages__line {
    display: block;
    margin: 0;
  }
  .advantages__line:first-child {
    margin-top: 35px;
  }
}
.advantages__section {
  max-width: 540px;
  width: 95%;
  margin-right: 15px;
  margin-left: 15px;
}
@media (max-width: 834px) {
  .advantages__section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    padding-right: 10px;
  }
}
.advantages__little-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #2D2D30;
  margin-bottom: 16px;
  margin-top: 27px;
}
@media (max-width: 834px) {
  .advantages__little-title {
    margin-top: 18px;
  }
}
.advantages__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  text-align: left;
}

.outsource {
  width: 100%;
  margin-top: 200px;
}
.outsource__title-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 48px;
}
.outsource__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
}
@media (max-width: 834px) {
  .outsource__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.outsource__banner {
  width: 540px;
  height: 400px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
.outsource__line {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .outsource__line {
    display: block;
    margin: 0;
  }
  .outsource__line:first-child {
    margin-top: 35px;
  }
}
.outsource__section {
  max-width: 540px;
  width: 95%;
  margin-right: 15px;
  margin-left: 15px;
}
@media (max-width: 834px) {
  .outsource__section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    padding-right: 10px;
  }
}
.outsource__little-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #2D2D30;
  margin-bottom: 16px;
  margin-top: 27px;
}
@media (max-width: 834px) {
  .outsource__little-title {
    margin-top: 18px;
  }
}
.outsource__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  text-align: left;
}

.err {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 376px 1fr;
  margin-top: 20px;
  margin-left: 20px;
  height: 400px;
  grid-column-gap: 48px;
  margin-top: 200px;
}
@media (max-width: 1100px) {
  .err {
    display: block;
    margin-top: 0;
    height: initial;
    margin-left: 0;
    margin-top: 104px;
  }
}
@media (max-width: 410px) {
  .err {
    margin-top: 64px;
  }
}
.err__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  justify-content: start;
  height: initial;
}
@media (max-width: 834px) {
  .err__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
@media (max-width: 1100px) {
  .err__title {
    text-align: center;
  }
}
.err__img {
  width: 376px;
  height: 400px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
@media (max-width: 1100px) {
  .err__img {
    width: 100%;
    object-fit: cover;
    margin: 32px 0;
  }
}
.err__text {
  font-size: 14px;
  line-height: 24px;
  color: #52525A;
  align-self: flex-end;
}

.waring {
  margin-top: 200px;
  width: 100%;
}
.waring__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
  text-align: center;
}
@media (max-width: 834px) {
  .waring__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.waring__section-wrapper {
  margin-top: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 834px) {
  .waring__section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 750px) {
  .waring__section-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
}
.waring__section {
  width: 328px;
}
.waring__section:nth-child(2) {
  margin: 0 20px;
}
@media (max-width: 834px) {
  .waring__section {
    margin: 0;
    margin-bottom: 24px !important;
  }
}
@media (max-width: 750px) {
  .waring__section {
    margin-bottom: 32px;
  }
}
@media (max-width: 500px) {
  .waring__section {
    width: 100%;
  }
}
.waring__img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.47);
}
.waring__little-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2D2D30;
  margin-top: 24px;
}
.waring__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  text-align: left;
  margin-top: 16px;
}

.questions {
  margin-top: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(400px, 2fr) 328px;
  grid-column-gap: 62px;
}
.questions__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #2D2D30;
}
@media (max-width: 834px) {
  .questions__title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #2D2D30;
  }
}
.questions__sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  text-align: left;
  margin-top: 24px;
}
.questions__section {
  width: 100%;
  margin-bottom: 16px;
  min-height: 60px;
  background: #F5F5F5;
  border-radius: 8px;
  transition: 0.3s;
}
.questions__line {
  width: 100%;
  height: 60px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 8px;
}
.questions__section-title {
  white-space: nowrap;
  color: #2D2D30;
}
.questions__option-wrapper {
  width: 14px;
  height: 14px;
  position: relative;
}
.questions__option {
  position: absolute;
  background: #2D2D30;
  transition: 0.3s;
}
.questions__option:last-child {
  width: 100%;
  height: 2px;
  top: calc(100% - 50% - 1px);
}
.questions__option:first-child {
  height: 100%;
  width: 2px;
  left: calc(100% - 50% - 1px);
}
.questions__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #52525A;
  text-align: left;
  padding: 16px;
  padding-top: 0;
}

.section-active {
  background: #EFF0FF;
}

.option-active {
  transform: rotate(-90deg);
  background: #1421FF;
}

@media (max-width: 1148px) {
  .interface__components-wrapper {
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
  }
  .interface__text {
    font-size: 20px;
    line-height: 24px;
  }

  .questions {
    display: flex;
    flex-direction: column-reverse;
  }
  .questions__title-wrapper {
    margin-bottom: 32px;
  }
  .questions__title {
    text-align: center;
  }
  .questions__sub-title {
    text-align: center;
  }
  .questions__section-title {
    white-space: initial;
  }
  .questions__section {
    min-height: 60px;
    height: initial;
  }

  .portfolio__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio__section {
    width: 600px;
    height: 600px;
    z-index: 1;
  }
}
@media (max-width: 1050px) {
  .advantages__title-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .advantages__title {
    text-align: center;
  }
  .advantages__banner {
    width: 100%;
    height: initial;
    margin-top: 32px;
  }

  .outsource__title-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .outsource__title {
    text-align: center;
  }
  .outsource__banner {
    width: 100%;
    height: initial;
    margin-top: 32px;
  }
}
@media (max-width: 780px) {
  .interface__components-wrapper {
    display: block;
  }
  .interface__component {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .interface__img {
    width: 100%;
    height: initial;
    object-fit: cover;
  }
}
@media (max-width: 672px) {
  .questions__option-wrapper {
    justify-self: end;
  }
  .questions__line {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 60px;
    height: initial;
  }

  .portfolio__section {
    width: 100%;
  }
}
@media (max-width: 468px) {
  .portfolio__section {
    height: 410px;
  }
}
@media (max-width: 390px) {
  .portfolio__section {
    height: 340px;
  }

  .main__title-button {
    padding: 18px 25px;
  }
}
@media (max-width: 850px) {
  .process__chapter {
    font-size: 13px;
  }
}
@media (max-width: 780px) {
  .process {
    display: none;
  }

  .process__way {
    display: none;
  }
}