@import './vars';
@import './mixins';


.form{
    margin-top: $topOffset;
    width: 100%;
    display: grid;
    grid-template-columns: 328px minmax(400px, 2fr);
    grid-column-gap: 62px;
    &__title{
        @include title;
    }
    &__sub-title{
        @include sub-title;
        text-align: left;
        margin-top: 24px;
    }
    &__grop{
        width: 100%;
        margin-bottom: 16px;
    }
    &__label{
        font-size: 14px;
        line-height: 24px;
        color: $grayText;
        margin-bottom: 4px;
    }
    &__input{
        width: 100%;
        border-radius: 8px;
        background: $gray;
        border: 0;
        height: 48px;
        padding-left: 16px;
        color: $black;
        font-size: 14px;
        line-height: 24px;
        transition: background .2s;
        &::placeholder{
            color: $grayText;
        }
        &:hover{
            background: $smallBlue;
        }
        &:focus{
            background: $smallBlue;
            border: 1px solid $blue;
        }
    }
    &__text-area{
        width: 100%;
        height: 104px;
        border-radius: 8px;
        background: $gray;
        border: 0;
        padding-left: 16px;
        color: $black;
        font-size: 14px;
        line-height: 24px;
        padding-top: 14px;
        padding-bottom: 14px;
        resize: none;
        font-family: Montserrat;
        font-weight: 500;
        transition: background .2s;
        margin-bottom: 0;
        &::placeholder{
            color: $grayText;
        }
        &:hover{
            background: $smallBlue;
        }
        &:focus{
            background: $smallBlue;
            border: 1px solid $blue;
        }
    }
    &__submit{
        height: 60px;
        width: 208px;
        margin: 0;
        margin-top: 14px;
        background: $blue;
        color: $white;
        box-shadow: 0px 12px 48px -18px rgba(20,33,255,0.76);
        border: 0;
        border-radius: 8px;
        transition: .3s;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        float: right;
        @include buttonEffect;
    }
    &__name-err, &__phone-err, &__email-err, &__message-err {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $red;
    }
}