//colors
$blue : #1421FF;
$red: #E45851;
$orange: #FF8B14;
$black: #2D2D30;
$grayText: #52525A;
$white: #fff;
$smallBlue: #EFF0FF;
$gray: #F5F5F5;
$liteBlue: #5B64FF;
$lineBackground: #EBEFFB;
$graySilver: #F2F5FC;